USE [CONSULTORIO_LSTI]
GO
/****** Object:  Table [dbo].[Doctors_Office]    Script Date: 25/10/2018 17:23:05 ******/
DROP TABLE IF EXISTS [dbo].[Doctors_Office]
GO
/****** Object:  Table [dbo].[Doctors_Office]    Script Date: 25/10/2018 17:23:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Doctors_Office](
	[ID_Doctors_Office] [int] NOT NULL,
	[ID_Branch] [int] NOT NULL,
	[ID_Booth] [int] NOT NULL,
	[ID_Schedule] [tinyint] NOT NULL,
	[ID_Employee] [int] NOT NULL,
 CONSTRAINT [PK_Doctors_Office] PRIMARY KEY CLUSTERED 
(
	[ID_Doctors_Office] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Doctors_Office] ([ID_Doctors_Office], [ID_Branch], [ID_Booth], [ID_Schedule], [ID_Employee]) VALUES (1, 1, 1, 3, 1)
INSERT [dbo].[Doctors_Office] ([ID_Doctors_Office], [ID_Branch], [ID_Booth], [ID_Schedule], [ID_Employee]) VALUES (2, 2, 2, 2, 2)
INSERT [dbo].[Doctors_Office] ([ID_Doctors_Office], [ID_Branch], [ID_Booth], [ID_Schedule], [ID_Employee]) VALUES (3, 3, 3, 1, 3)
GO
