USE [CONSULTORIO_LSTI]
GO
/****** Object:  Table [dbo].[Expedient]    Script Date: 25/10/2018 17:23:05 ******/
DROP TABLE IF EXISTS [dbo].[Expedient]
GO
/****** Object:  Table [dbo].[Expedient]    Script Date: 25/10/2018 17:23:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Expedient](
	[ID_Expedient] [int] NOT NULL,
	[Expedient] [text] NOT NULL,
 CONSTRAINT [PK_Expedient] PRIMARY KEY CLUSTERED 
(
	[ID_Expedient] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[Expedient] ([ID_Expedient], [Expedient]) VALUES (1, N'Inicio Expedient')
INSERT [dbo].[Expedient] ([ID_Expedient], [Expedient]) VALUES (2, N'Inicio Expedient')
INSERT [dbo].[Expedient] ([ID_Expedient], [Expedient]) VALUES (3, N'Inicio Expedient')
GO
