USE [CONSULTORIO_LSTI]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Employee]') AND type in (N'U'))
ALTER TABLE [dbo].[Employee] DROP CONSTRAINT IF EXISTS [FK_Employee_Certificate]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Employee]') AND type in (N'U'))
ALTER TABLE [dbo].[Employee] DROP CONSTRAINT IF EXISTS [FK_Employee_Address]
GO
/****** Object:  Table [dbo].[Employee]    Script Date: 25/10/2018 17:23:05 ******/
DROP TABLE IF EXISTS [dbo].[Employee]
GO
/****** Object:  Table [dbo].[Employee]    Script Date: 25/10/2018 17:23:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employee](
	[ID_Employee] [int] NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[First_Surname] [varchar](50) NOT NULL,
	[Second_Surname] [varchar](50) NOT NULL,
	[Birthdate] [date] NOT NULL,
	[Age]  AS (floor(datediff(day,[Birthdate],getdate())/(365.25))),
	[Gender] [char](1) NOT NULL,
	[ID_Address] [int] NOT NULL,
	[Phone_Number] [int] NOT NULL,
	[ID_Certificate] [int] NULL,
	[ID_Role] [tinyint] NOT NULL,
	[ID_Schedule] [tinyint] NOT NULL,
 CONSTRAINT [PK_Employee] PRIMARY KEY CLUSTERED 
(
	[ID_Employee] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Employee] ([ID_Employee], [Name], [First_Surname], [Second_Surname], [Birthdate], [Gender], [ID_Address], [Phone_Number], [ID_Certificate], [ID_Role], [ID_Schedule]) VALUES (1, N'Uriah', N'Rocha', N'Warner', CAST(N'1998-05-02' AS Date), N'M', 1, 85981954, 1, 3, 1)
INSERT [dbo].[Employee] ([ID_Employee], [Name], [First_Surname], [Second_Surname], [Birthdate], [Gender], [ID_Address], [Phone_Number], [ID_Certificate], [ID_Role], [ID_Schedule]) VALUES (2, N'Charles', N'Vasquez', N'Hodge', CAST(N'1993-07-13' AS Date), N'M', 2, 99319548, 2, 2, 4)
INSERT [dbo].[Employee] ([ID_Employee], [Name], [First_Surname], [Second_Surname], [Birthdate], [Gender], [ID_Address], [Phone_Number], [ID_Certificate], [ID_Role], [ID_Schedule]) VALUES (3, N'Griffin', N'Kirk', N'Anderson', CAST(N'1983-12-29' AS Date), N'M', 3, 75624931, 3, 3, 4)
GO
ALTER TABLE [dbo].[Employee]  WITH CHECK ADD  CONSTRAINT [FK_Employee_Address] FOREIGN KEY([ID_Address])
REFERENCES [dbo].[Address] ([ID_Address])
GO
ALTER TABLE [dbo].[Employee] CHECK CONSTRAINT [FK_Employee_Address]
GO
ALTER TABLE [dbo].[Employee]  WITH CHECK ADD  CONSTRAINT [FK_Employee_Certificate] FOREIGN KEY([ID_Certificate])
REFERENCES [dbo].[Certificate] ([ID_Certificate])
GO
ALTER TABLE [dbo].[Employee] CHECK CONSTRAINT [FK_Employee_Certificate]
GO
