USE [CONSULTORIO_LSTI]
GO
/****** Object:  Table [dbo].[Booth]    Script Date: 25/10/2018 17:23:05 ******/
DROP TABLE IF EXISTS [dbo].[Booth]
GO
/****** Object:  Table [dbo].[Booth]    Script Date: 25/10/2018 17:23:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Booth](
	[ID_Booth] [int] NOT NULL,
	[Booth] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Booth] PRIMARY KEY CLUSTERED 
(
	[ID_Booth] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Booth] ([ID_Booth], [Booth]) VALUES (1, N' Dermatologia ')
INSERT [dbo].[Booth] ([ID_Booth], [Booth]) VALUES (2, N' Urgencias')
INSERT [dbo].[Booth] ([ID_Booth], [Booth]) VALUES (3, N' Dermatologia ')
GO
