USE [CONSULTORIO_LSTI]
GO
/****** Object:  Table [dbo].[Health_Care]    Script Date: 25/10/2018 17:23:05 ******/
DROP TABLE IF EXISTS [dbo].[Health_Care]
GO
/****** Object:  Table [dbo].[Health_Care]    Script Date: 25/10/2018 17:23:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Health_Care](
	[ID_Health_Care] [int] NOT NULL,
	[Height] [decimal](4, 2) NOT NULL,
	[Weight] [decimal](4, 2) NOT NULL,
	[BMI]  AS ([Weight]/([Height]*[Height])),
 CONSTRAINT [PK_Health_Care] PRIMARY KEY CLUSTERED 
(
	[ID_Health_Care] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Health_Care] ([ID_Health_Care], [Height], [Weight]) VALUES (1, CAST(0.83 AS Decimal(4, 2)), CAST(1.41 AS Decimal(4, 2)))
INSERT [dbo].[Health_Care] ([ID_Health_Care], [Height], [Weight]) VALUES (2, CAST(0.51 AS Decimal(4, 2)), CAST(7.44 AS Decimal(4, 2)))
INSERT [dbo].[Health_Care] ([ID_Health_Care], [Height], [Weight]) VALUES (3, CAST(0.79 AS Decimal(4, 2)), CAST(4.39 AS Decimal(4, 2)))
GO
