USE [CONSULTORIO_LSTI]
GO
/****** Object:  Table [dbo].[Prescription_Product]    Script Date: 25/10/2018 17:23:05 ******/
DROP TABLE IF EXISTS [dbo].[Prescription_Product]
GO
/****** Object:  Table [dbo].[Prescription_Product]    Script Date: 25/10/2018 17:23:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Prescription_Product](
	[ID_Prescription_Product] [int] NOT NULL,
	[ID_Prescription] [uniqueidentifier] NOT NULL,
	[ID_Product] [nchar](10) NOT NULL,
 CONSTRAINT [PK_Prescription_Product] PRIMARY KEY CLUSTERED 
(
	[ID_Prescription_Product] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Prescription_Product] ([ID_Prescription_Product], [ID_Prescription], [ID_Product]) VALUES (1, N'a7d56613-a3f0-faa0-d216-39f1cb2d7e9c', N'1         ')
INSERT [dbo].[Prescription_Product] ([ID_Prescription_Product], [ID_Prescription], [ID_Product]) VALUES (2, N'09b91d28-e777-c691-3655-bc36a4593b33', N'2         ')
INSERT [dbo].[Prescription_Product] ([ID_Prescription_Product], [ID_Prescription], [ID_Product]) VALUES (3, N'da4d7ec2-3b01-f901-0e57-bfc6f78b01af', N'3         ')
GO
