USE [CONSULTORIO_LSTI]
GO
/****** Object:  Table [dbo].[Certificate]    Script Date: 25/10/2018 17:23:05 ******/
DROP TABLE IF EXISTS [dbo].[Certificate]
GO
/****** Object:  Table [dbo].[Certificate]    Script Date: 25/10/2018 17:23:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Certificate](
	[ID_Certificate] [int] NOT NULL,
	[Certificate] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Certificate] PRIMARY KEY CLUSTERED 
(
	[ID_Certificate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Certificate] ([ID_Certificate], [Certificate]) VALUES (1, N'E2P 2E2')
INSERT [dbo].[Certificate] ([ID_Certificate], [Certificate]) VALUES (2, N'Q3E 0U3')
INSERT [dbo].[Certificate] ([ID_Certificate], [Certificate]) VALUES (3, N'D7B 6K3')
GO
