USE [CONSULTORIO_LSTI]
GO
/****** Object:  Table [dbo].[Doctor]    Script Date: 25/10/2018 17:23:05 ******/
DROP TABLE IF EXISTS [dbo].[Doctor]
GO
/****** Object:  Table [dbo].[Doctor]    Script Date: 25/10/2018 17:23:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Doctor](
	[ID_Employee] [int] NOT NULL,
	[ID_Doctor] [int] NOT NULL,
	[ID_Specialty] [tinyint] NOT NULL,
 CONSTRAINT [PK_Doctor] PRIMARY KEY CLUSTERED 
(
	[ID_Doctor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Doctor] ([ID_Employee], [ID_Doctor], [ID_Specialty]) VALUES (1, 1, 4)
INSERT [dbo].[Doctor] ([ID_Employee], [ID_Doctor], [ID_Specialty]) VALUES (2, 2, 3)
INSERT [dbo].[Doctor] ([ID_Employee], [ID_Doctor], [ID_Specialty]) VALUES (3, 3, 4)
GO
