USE [CONSULTORIO_LSTI]
GO
/****** Object:  Table [dbo].[Address]    Script Date: 25/10/2018 17:23:05 ******/
DROP TABLE IF EXISTS [dbo].[Address]
GO
/****** Object:  Table [dbo].[Address]    Script Date: 25/10/2018 17:23:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Address](
	[ID_Address] [int] NOT NULL,
	[Street_Number] [varchar](50) NOT NULL,
	[Neighborhood] [varchar](50) NOT NULL,
	[District] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Address] PRIMARY KEY CLUSTERED 
(
	[ID_Address] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Address] ([ID_Address], [Street_Number], [Neighborhood], [District]) VALUES (1, N'Ap #718-2941 Dis Road', N'Toronto', N'ON')
INSERT [dbo].[Address] ([ID_Address], [Street_Number], [Neighborhood], [District]) VALUES (2, N'278-3424 Mi Rd.', N'Kawerau', N'North Island')
INSERT [dbo].[Address] ([ID_Address], [Street_Number], [Neighborhood], [District]) VALUES (3, N'2697 At, St.', N'Hudiksvall', N'Gävleborgs län')
GO
